@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 11% 15%;
    --foreground: 210 40% 98%;
    --card: 231 15% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 231 15% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 191 97% 77%;
    --primary-foreground: 222 11% 15%;
    --secondary: 231 15% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 231 15% 25%;
    --muted-foreground: 210 40% 90%;
    --accent: 191 97% 77%;
    --accent-foreground: 222 11% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 15% 25%;
    --input: 231 15% 25%;
    --ring: 191 97% 77%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 11% 15%;
    --foreground: 210 40% 98%;
    --card: 231 15% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 231 15% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 191 97% 77%;
    --primary-foreground: 222 11% 15%;
    --secondary: 231 15% 25%;
    --secondary-foreground: 210 40% 98%;
    --muted: 231 15% 25%;
    --muted-foreground: 210 40% 90%;
    --accent: 191 97% 77%;
    --accent-foreground: 222 11% 15%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 231 15% 25%;
    --input: 231 15% 25%;
    --ring: 191 97% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
